body {
    padding-bottom: 40px;
}


.nav li a {
    text-shadow: 0 1px 1px rgba(255, 255, 255, .2) !important;
}

.centrato {
    text-align: center !important;
}

.cp {
    text-align: center !important;
    padding: 10px 0px !important;
    font-size: larger !important;
}

.brand {
    padding: 10px 15px 0px 0px !important;
    margin: 0px 0px 0px 0px !important;
}

.altoCento {
    height: 60px !important;
}

.paddingSopra {
    padding-top: 5px;
}


.boxRicerca {
    height: 28px !important;
    font-size: 18px !important;
    padding-left: 10px !important;
}

.enorme {
    font-size: 48px !important;
}

.allinea-destra {
    text-align: right !important;
}
.allinea-sinistra {
    text-align: left !important;
}
.allinea-centro {
    text-align: center !important;
}

.perContinuare {
	padding-left: 60px;
}

.hero-unit {
        background-image: url('../img/sfondoherounit.jpg');
}

.sf3 {
                text-shadow: 1px 1px 0px white;
                padding-bottom: 0px;

}

.hero-unit p, .hero-unit h1 {
    text-shadow: 1px 2px 1px #333;
    color: white;
}

.loginBoxContainer {
	position: relative;
	top: -250px;
	margin-bottom: -250px;
	z-index: 8;
}

.theLoginBox {
	background-color: white;
	border-radius: 5px;
}


.container-narrow {
	margin: 0 auto;
	max-width: 900px;
}

.container-narrow > hr {
	margin: 30px 0;
}


    /* DA BOOTSTRAP.GITHUB.IO
    -------------------------------------------------- */

    .navbar-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 9;
      margin-top: 20px;
      margin-bottom: -90px; 
    }
    .navbar-wrapper .navbar {

    }

    .navbar .navbar-inner {
      border: 0;
      -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
         -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
              box-shadow: 0 2px 10px rgba(0,0,0,.25);
    }

    .navbar .brand {
      padding: 14px 20px 16px;
      font-size: 16px;
      font-weight: bold;
    }

    .navbar .nav > li > a {
      padding: 15px 20px;
    }

    .navbar .btn-navbar {
      margin-top: 10px;
    }

    .carousel {
      margin-bottom: 20px;
    }

    .carousel .container {
      position: relative;
      z-index: 8;
    }

    .carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
    }

	
    .slideSalone h1, .slideSalone p{
            text-shadow: 0 2px 2px black !important;
    }
	
    .carousel .item {
      height: 280px;
    }

    .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 340px;
    }

    .navbar-inner {
        min-height: 50px;
    }
    .carousel-caption {
      background-color: transparent;
      position: static;
      max-width: 1200px;
      padding: 0 20px;
      margin-top: 100px;
      text-align: center;
      text-shadow: 0px 0px 3px black;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0px 0px 3px black;
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }
    
    #rollerComitati {
        font-size: larger;
        color: #333;
        font-weight: bold;
    }


    /* TABLET */
    @media (max-width: 979px) {

      .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
      }
      .navbar-inner {
        border-radius: 0;
        margin: -20px 0;
      }

      .carousel .item {
        height: 500px;
      }
      .carousel img {
        width: auto;
        height: 500px;
      }

    }


	/* CELL */
    @media (max-width: 767px) {

      .navbar {
        margin-left: 0px !important;
        margin-right: 0px !important;
      }

      .carousel {
        margin-left: -20px;
        margin-right: -20px;
      }
      .carousel .container {

      }
      .carousel .item {
        height: 300px;
      }
      .carousel img {
        height: 300px;
      }
      .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-top: 100px;
      }
      .carousel-caption h1 {
        font-size: 30px;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 18px;
      }

    }


.campoVuoto {
    background-color: #C00 !important;
    color: white !important;
}

.mLocalita {
    padding: 8px;
    border: 1px solid gray;
    color: black;
    margin-bottom: 4px;
    cursor: pointer;
    border-radius: 4px;
    -moz-border-radius: 4px;
    background: rgb(254,252,234); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(254,252,234,1) 0%, rgba(241,218,54,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,252,234,1)), color-stop(100%,rgba(241,218,54,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(254,252,234,1) 0%,rgba(241,218,54,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(254,252,234,1) 0%,rgba(241,218,54,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(254,252,234,1) 0%,rgba(241,218,54,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(254,252,234,1) 0%,rgba(241,218,54,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 ); /* IE6-9 */
    text-shadow: 1px 1px 1px white;
}

.mLocalitaSel {
    background: rgb(255,197,120); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,197,120,1) 0%, rgba(251,157,35,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,197,120,1)), color-stop(100%,rgba(251,157,35,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,197,120,1) 0%,rgba(251,157,35,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,197,120,1) 0%,rgba(251,157,35,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,197,120,1) 0%,rgba(251,157,35,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,197,120,1) 0%,rgba(251,157,35,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc578', endColorstr='#fb9d23',GradientType=0 ); /* IE6-9 */
    border: 1px solid black;
    font-weight: bold;
}

/* fix per le mappe di google */
.mappaGoogle label { width: auto !important; display:inline !important; }
.mappaGoogle img { max-width: none !important; max-height: none !important; }

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }
#ui-datepicker-div {  z-index: 9999 !important; }

.nascosto {
    display: none;
}

.grassetto {
    font-weight: bold;
}

.collaMano {
    cursor: pointer;
}

.collaMano:hover {
    border-radius: 3px;
    background-color: #f6f6f6;
}

.ctr:hover {
    background-color: #f2dede;
}

.bordo {
    border: 1px solid black;
}

#comitati div {
    font-size: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.commento{   
    margin-left: auto;    
    margin-right: auto;    
    background: #ffffff;
}

.subcommento{
    border:1px #D3D7D8 solid;   
    position:relative;
    left:74px;  
    background: #ffffff;
}
    
.inputCommento{
    border:1px #D3D7D8 solid;
    background: #ffffff;
}

#navigatoreMobile {
    text-align: center;
}
#navigatoreMobileSelect {
    font-weight: bold;
    margin: auto;
}

.aspiranti_contatore {
    font-size: 8.5em; 
    line-height: 1em;
    text-shadow: 3px 3px 0px white;
}

.aspiranti_descrizione {
    font-size: 2em;
    text-transform: uppercase;
}

.quote_contatore {
    font-size: 6.5em; 
    line-height: 1em;
    text-shadow: 3px 3px 0px white;
}