# Configurazione del database
core/conf/database.conf.php

# Vari log 
log/*
mail/log/

# Avatar utenti
upload/avatar/*/*

# Lock file
upload/setup/lock

# Mantieni i placeholder
!upload/avatar/placeholder/
