##
## (c)2014 Croce Rossa Italiana
##

# Font DOMPDF
/core/inc/dompdf/lib/fonts/php_Times-Roman.afm
/core/inc/dompdf/lib/fonts/php_Times-Bold.afm

# Log DOMPDF
/core/inc/dompdf/lib/fonts/log.htm
/core/libs/dompdf/lib/fonts/log.htm

# Configurazioni
/core/conf/*
!/core/conf/*/

# Vari log 
upload/log/*

# Avatar utenti
upload/avatar/*/*

# Fototessere utenti
upload/fototessere/*/*

# Documenti utenti
upload/docs/

# File utenti
upload/get/

# Lock file
upload/setup/lock

# Roba scaricata temporaneamente
upload/setup/*.json

# Tutta la cache 
upload/setup/cache_*

# Autopull
upload/setup/autopull

# Mantieni i placeholder
!upload/avatar/placeholder/

# File di progetto IntelliJ
.idea
pma/
inc/_test_blocco.php
inc/_test_comitati.php
inc/_test_cron_accetta_discenti.php
inc/_test_cron_chiusura.php
inc/_test_cron_forza_termine_corso.php
inc/_test_invioInviti.php
inc/_test_query_ricerca.php
mod_formazione_todo.txt
